<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <RollingFile name="HtmlRollingFile"
                 fileName="${sys:catalina.base}/logs/app-log.html"
                 filePattern="${sys:catalina.base}/logs/app-log-%d{yyyy-MM-dd}.html"
                 append="true">
      <HtmlLayout title="Application Logs" locationInfo="true" fontSize="small" font="Courier New"/>
      <Policies>
        <TimeBasedTriggeringPolicy interval="1"/>
      </Policies>
    </RollingFile>

    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
  </Appenders>

  <Loggers>
    <Root level="debug">
      <AppenderRef ref="HtmlRollingFile"/>
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>
